<!--
<ion-view title="Monitor" id="page10" class="item item-trns" >
    <div  class="item item-trns" style="height:100%;width:100%;">
        <div class="spacer" style="width:100%; height:75%;"> </div>
    <ion-content overflow-scroll="true" padding="true" style="height: 25%;top:auto;" scroll="true">
        <div>
        <ion-list>
            <ion-item collection-repeat='item in flightsInSight'>{{item.origin}} -> {{item.destination}}</ion-item>
        
        </ion-list>
        </div>
    </ion-content>
    <div>
</ion-view>


<ion-view title="Monitor" id="page10" class="item item-trns" >
    <div  class="item item-trns" style="height:100%;width:100%;text-align:center;">
    <ion-content overflow-scroll="true" padding="true" style="height: 100%;top:auto;" scroll="true">
        <ion-refresher (ionRefresh)="doRefresh()">
    <ion-refresher-content>
            <ion-list>
            <ion-item collection-repeat='item in flightsNear' style="white-space: normal;"> 
            <div>{{item.origin}}</div>&#x25BC;<br />
            <div>{{item.destination}}</div>
            </ion-item
        </ion-list>
    </ion-refresher-content>
  </ion-refresher>
        </div>
    </ion-content>
    <div>
</ion-view>

-->

<ion-view title="Monitor" id="page10" class="item item-trns" >
 <div  class="item item-trns" style="height:100%;width:100%;text-align:center;">
    <ion-content overflow-scroll="true" padding="true" style="background: url(img/0Stm5SRmS22c7Eonfy2a_wallpaper-1.jpg) no-repeat center;" scroll="true">
        <ion-refresher on-refresh="doRefresh()">
        <ion-refresher-content>
      </ion-refresher-content>
      </ion-refresher>
        <div id="gauge"  ng-show="live"  style="width:200px; height:160px; margin: auto;" ></div>
        <button id="login-button1" class="button button-positive  button-block" ng-click="shareMarker()" ng-show="live" style="margin-bottom: 30px;">Share</button>
       <ion-list style="opacity: 0.2">
            <ion-item collection-repeat='item in flightsNear' style="white-space: normal;"> 
            <div>{{item.origin}}</div>&#x25BC;<br />
            <div>{{item.destination}}</div>
            </ion-item>
        </ion-list>
    </ion-content>
    </div>
</ion-view>