 <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Account created</h1>
    </ion-header-bar>
    <ion-content overflow-scroll="true" padding="true" style="background: url(img/oFLLIysuQTSjaLho7tJU_wallpaper-1.jpg) no-repeat center;" scroll="false">
      An email was sent to you address. Please confirm your account before you can do any requests!
    <button id="confirm" class="button button-stable  button-block" ng-click="closeModal()">Ok</button>
    </ion-content>
  </ion-modal-view>
